In [ ]:
# Lectura de archivos
import pandas as pd
import numpy as np

# Muestra todas las columnas del DataFrame
pd.set_option('display.max_columns', None)

In [ ]:
#Lectura y Carga de dataframes
circuits                = pd.read_csv('./00_data_raw/circuits.csv',                 index_col= 0)
constructor_results     = pd.read_csv('./00_data_raw/constructor_results.csv',      index_col= 0)
constructor_standings   = pd.read_csv('./00_data_raw/constructor_standings.csv',    index_col= 0)
constructors            = pd.read_csv('./00_data_raw/constructors.csv',             index_col= 0)
driver_standings        = pd.read_csv('./00_data_raw/driver_standings.csv',         index_col= 0)
drivers                 = pd.read_csv('./00_data_raw/drivers.csv',                  index_col= 0)
lap_times               = pd.read_csv('./00_data_raw/lap_times.csv',                index_col= 0)
pit_stops               = pd.read_csv('./00_data_raw/pit_stops.csv',                index_col= 0)
qualifying              = pd.read_csv('./00_data_raw/qualifying.csv',               index_col= 0)
races                   = pd.read_csv('./00_data_raw/races.csv',                    index_col= 0)
results                 = pd.read_csv('./00_data_raw/results.csv',                  index_col= 0)
sprint_results          = pd.read_csv('./00_data_raw/sprint_results.csv',           index_col= 0)
status                  = pd.read_csv('./00_data_raw/status.csv',                   index_col= 0)

In [ ]:
# Lectura aleatoria de los datos en los dataframes
# circuits.sample(9)
# constructor_results.sample(9)
# constructor_standings.sample(9)
# constructors.sample(9)
# driver_standings.sample(9)
# drivers.sample(9)
# lap_times.sample(9)
# pit_stops.sample(9)
# qualifying.sample(9)
# races.sample(9)
# results.sample(9)
# sprint_results.sample(9)
# status.sample(9)

In [ ]:
# Tratamiento y modificaciones del dataframe 'circuits':
# Elimnar columnas innecesarias: ['url']
circuits.drop(columns=['url'], inplace=True)
# Sustituir valores '\N' por NaN para normalizacion de nulos
circuits.replace('\\N', np.nan, inplace=True)

# Formatear columna ['circuitRef'] a Nombre Propio
circuits['circuitRef'] = circuits['circuitRef'].str.capitalize()
circuits.sample(5)

In [ ]:
# Revision de la calidad y tipo de datos
circuits.info()

In [ ]:
# Tratamiento y modificaciones del dataframe 'constructor_results':
# Sustituir valores '\N' por NaN para normalizacion de nulos
constructor_results.replace('\\N', np.nan, inplace=True)
constructor_results.sample(5)

In [ ]:
# Revision de la calidad y tipo de datos
constructor_results.info()

In [ ]:
# Tratamiento y modificaciones del dataframe 'constructor_standings':
# Elimnar columnas innecesarias: ['positionText']']
constructor_standings.drop(columns=['positionText'], inplace=True)
# Sustituir valores '\N' por NaN para normalizacion de nulos
constructor_standings.replace('\\N', np.nan, inplace=True)
constructor_standings.sample(5)

In [ ]:
# Revision de la calidad y tipo de datos
constructor_standings.info()

In [29]:
# Tratamiento y modificaciones del dataframe 'constructors':
# Elimnar ['constructorRef', 'url'] innecesarias
constructors.drop(columns=['constructorRef', 'url'], inplace=True)
# Formatear columna ['nationality'] a Nombre Propio
constructors['nationality'] = constructors['nationality'].str.title()
# Sustituir valores '\N' por NaN para normalizacion de nulos
constructors.replace('\\N', np.nan, inplace=True)
constructors.sample(5)

                       name nationality
constructorId
206                Marussia     Russian
48                     Rial      German
2                BMW Sauber      German
187            McLaren-Ford     British
215              RB F1 Team     Italian

In [ ]:
# Revision de la calidad y tipo de datos
constructors.info()

In [ ]:
# Tratamiento y modificaciones del dataframe 'drivers_standings':
# Elimnar columna ['positionText'] innecesaria
driver_standings.drop(columns=['positionText'], inplace=True)
# Sustituir valores '\N' por NaN para normalizacion de nulos
driver_standings.replace('\\N', np.nan, inplace=True)
driver_standings.sample(5)

In [ ]:
# Revision de la calidad y tipo de datos
driver_standings.info()

In [ ]:
# Tratamiento y modificaciones del dataframe 'drivers':
# Elimnar columnas ['code', 'url'] innecesarias
drivers.drop(columns=['code', 'url'], inplace=True)
# Sustituir valores '\N' por NaN para normalizacion de nulos
drivers.replace('\\N', np.nan, inplace=True)
# Formatear columna ['dob'] a tipo fecha
drivers['dob'] = pd.to_datetime(drivers['dob'], errors='coerce')
# Formatear la fecha a formato 'dd-mm-YYYY'
drivers['dob'] = drivers['dob'].dt.strftime('%d-%m-%Y')
# Renombrar columna ['dob'] a ['birth_date'] para mayor claridad
drivers.rename(columns={'dob': 'birth_date'}, inplace=True)
drivers.head(5)

In [22]:
# Revision de la calidad y tipo de datos
drivers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 861 entries, 1 to 862
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverRef    861 non-null    object
 1   number       59 non-null     object
 2   code         104 non-null    object
 3   forename     861 non-null    object
 4   surname      861 non-null    object
 5   dob          861 non-null    object
 6   nationality  861 non-null    object
 7   url          861 non-null    object
dtypes: object(8)
memory usage: 60.5+ KB

In [24]:
# Tratamiento y modificaciones del dataframe 'lap_times':
# Elimnar columna ['milliseconds'] innecesaria
lap_times.drop(columns=['milliseconds'], inplace=True)
# Formatear columna ['time'] a tipo timedelta
lap_times['lap_time'] = pd.to_timedelta(lap_times['time'])
# Sustituir valores '\N' por NaN para normalizacion de nulos
lap_times.replace('\\N', np.nan, inplace=True)
lap_times.sample(5)

ValueError: expected hh:mm:ss format before .

In [23]:
# Revision de la calidad y tipo de datos
lap_times.info()

<class 'pandas.core.frame.DataFrame'>
Index: 589081 entries, 841 to 1144
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   driverId      589081 non-null  int64
 1   lap           589081 non-null  int64
 2   position      589081 non-null  int64
 3   time          589081 non-null  object
 4   milliseconds  589081 non-null  int64
dtypes: int64(4), object(1)
memory usage: 27.0+ MB

In [28]:
# Tratamiento y modificaciones del dataframe 'pit_stops':
# Elimnar columnas ['time', 'milliseconds'] innecesarias
pit_stops.drop(columns=['time', 'milliseconds'], inplace=True)
# Formatear columna ['duration'] a tipo timedelta y convertir la columna 'duration' a segundos
pit_stops['duration_s'] = pd.to_timedelta(pit_stops['duration'], unit='s')
# Sustituir valores '\N' por NaN para normalizacion de nulos
pit_stops.replace('\\N', np.nan, inplace=True)

pit_stops.sample(5)

ValueError: unit must not be specified if the input contains a str

In [ ]:
# Revision de la calidad y tipo de datos
pit_stops.info()

In [ ]:
# Tratamiento y modificaciones del dataframe 'races':
# Elimnar columnas ['fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_time', 'sprint_time', 'url'] innecesarias
races.drop(columns=['fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_time', 'sprint_time', 'url'], inplace=True)
# Sustituir valores '\N' por NaN para normalizacion de nulos
races.replace('\\N', np.nan, inplace=True)
# Formatear columnas ['date', 'quali_date', 'sprint_date'] a tipo fecha
races['date'] = pd.to_datetime(races['date'], format='%Y-%m-%d', errors='coerce')
races['quali_date'] = pd.to_datetime(races['quali_date'], format='%Y-%m-%d', errors='coerce')
races['sprint_date'] = pd.to_datetime(races['sprint_date'], format='%Y-%m-%d', errors='coerce')
# Formatear las fechas a formato 'dd-mm-YYYY'
races['date'] = races['date'].dt.strftime('%d-%m-%Y')
races['quali_date'] = races['quali_date'].dt.strftime('%d-%m-%Y')
races['sprint_date'] = races['sprint_date'].dt.strftime('%d-%m-%Y')
races.sample(5)

In [ ]:
# Revision de la calidad y tipo de datos
races.info()

In [ ]:
# Tratamiento y modificaciones del dataframe 'results':
# Elimnar columnas ['positionText', 'milliseconds'] innecesarias
results.drop(columns=['positionText', 'milliseconds'], inplace=True)
# Sustituir valores '\N' por NaN para normalizacion de nulos
results.replace('\\N', np.nan, inplace=True)
results.sample(5)

In [ ]:
# Revision de la calidad y tipo de datos
results.info()

In [ ]:
# Tratamiento y modificaciones del dataframe 'sprint_results':
# Elimnar columnas ['milliseconds'] innecesarias
sprint_results.drop(columns=['milliseconds'], inplace=True)
# Sustituir valores '\N' por NaN para normalizacion de nulos
sprint_results.replace('\\N', np.nan, inplace=True)
sprint_results.sample(5)

In [ ]:
# Revision de la calidad y tipo de datos
sprint_results.info()

In [30]:
# Revision de la calidad y tipo de datos
status.info()

<class 'pandas.core.frame.DataFrame'>
Index: 139 entries, 1 to 141
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   status  139 non-null    object
dtypes: object(1)
memory usage: 2.2+ KB